extends layout

block content
  .acerca-container
    h2= titulo

    .acerca-header
      video(src="/img/avatar.mp4", alt="Video del Museo ArteMundo", class="imagen-acerca" loop muted width="320" height="240" controls)
       | Tu navegador no soporta la etiqueta de video.

    .acerca-descripcion
      h3 ¿Quiénes somos?
      p
        | ArteMundo surge de una visión innovadora: trascender las limitaciones físicas de los museos convencionales para democratizar el acceso al universo del arte. Nos concebimos como un museo de la era moderna: accesible digitalmente, inclusivo en su propuesta y diverso en las expresiones artísticas que alberga. Nuestra misión primordial radica en presentar obras que no solo se observan, sino que inspiran la reflexión, fomentan el aprendizaje y establecen conexiones significativas entre el arte y el espectador.
      p
        | El propósito fundamental de ArteMundo es acercar la riqueza del arte a una audiencia global, eliminando las barreras impuestas por la edad, la ubicación geográfica o el nivel de conocimiento previo. Para ello, la propuesta de valor de ArteMundo se articula en la convergencia de experiencias presenciales y virtuales, buscando complementar y enriquecer la interacción del público con las manifestaciones artísticas.
      p
        | En ArteMundo, adoptamos una filosofía donde el arte se vive, no solo se contempla. Esto se traduce en una oferta dinámica que incluye exposiciones inmersivas, talleres interactivos diseñados para la participación activa, una variedad de actividades culturales que buscan la inmersión en diferentes formas de expresión artística, y una plataforma digital robusta que permite la exploración del museo y sus contenidos desde cualquier rincón del planeta.

      h3 Nuestra misión
      p
        | Brindar acceso inclusivo al arte y la cultura, promoviendo la creatividad, la educación y la visibilidad de artistas de todas las trayectorias, mediante experiencias interactivas e innovadoras apoyadas en la tecnología.

      h3 Nuestra visión
      p
        | Ser un referente cultural tanto local como digital, reconocido por su compromiso con la educación artística, la innovación y el impulso al talento emergente en el ámbito creativo.

      h3 Nuestros valores
      ul
        li
          strong Inclusión:
          |  el arte es para todos.
        li
          strong Creatividad:
          |  fomentamos la innovación constante.
        li
          strong Accesibilidad:
          |  experiencias presenciales y virtuales para todos los públicos.
        li
          strong Educación:
          |  formamos desde la emoción y el conocimiento.
        li
          strong Colaboración:
          |  trabajamos en red con artistas, educadores y comunidades.

      a.boton(href='/galeria') Ver Galería