extends layout

block content
  h2 ¡Descarga nuestra App Móvil!

  .app-container
    img(src="/img/codigo.png", alt="Código QR para descargar la app", style="max-width: 300px; height: auto; margin-bottom: 20px;")
    p Escanea este código QR y descarga nuestra app para desbloquear una galería gratuita llena de contenido exclusivo. ¡No te pierdas esta oportunidad de acceder fácilmente a todo nuestro material directamente desde tu dispositivo!
    