extends layout

block content
  .portada
    img(src='/img/inicio.jpg', alt='ArteMundo')
    .texto-portada
      h1 Bienvenido a ArteMundo
      p Tu museo virtual de arte moderno.
      a.boton(href='/galeria') Ver Galería
